# fastlane
Fastlane/report.xml
Fastlane/test_output

# Xcode build artifacts
Build/

# Xcode
*.xcuserstate
*.xcscmblueprint
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/